<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->


    <bean id="school" class="com.voilaf.combination.School">
        <property name="name" value="School.Zhejiang"/>
    </bean>
    <bean id="klass" class="com.voilaf.combination.Klass" >
        <property name="name" value="class.No1" />
        <property name="school" ref="school" />
    </bean>
    <bean id="student" class="com.voilaf.combination.Student">
        <property name="name" value="XiaoWang" />
        <property name="school" ref="school" />
        <property name="klass" ref="klass" />
    </bean>

</beans>